body{
	background: #36bf7d;
	color: lightgray;
}
header {
      text-align: center;
      background: "images/sand.jpg";
      background-size: cover;
      color: rgba(100,500,225,0.8);
    }
.links{
	padding: 10px;
	display: inline;
	padding: 0px 10px 0px 10px;
	background: rgba(0,0,0,0.5);
	font-size: 30px;
}
h1 {
	font-size: 70px;
	text-align: center;	
}
h2 {
	font-size: 50px;
	padding: 5px;
}
a {
	color: white;
}
p{
	font-size: 40px;
}
img {
	display: block;
	margin-left: auto;
	margin-right: auto;
      	border: 7px rgba(500,500,500,1);
      	border-radius: 20px;
}
.lists {
	font-size: 30px;
}
