body{
	background: #36bf7d;
	color: lightgray;
	textsize:
}
header {
      text-align: center;
      background: url('https://lh3.google.com/u/0/d/0B1dt2mJwZlFacnJuUW9falVNTFE=w1918-h891-iv1');
      background-size: cover;
      color: rgba(200,0,0,1);
    }
