body{
	background: #36bf7d;
	color: lightgray;
}
header {
      text-align: center;
      background: url('https://drive.google.com/file/d/0B1dt2mJwZlFacUxqX1c3V2FLRWs/view?usp=sharing');
      background-size: cover;
      color: rgba(200,0,0,1);
    }
